<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973375648827-1jvifaslou97u7tevblascktvquffnk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973375648827-1jvifaslou97u7tevblascktvquffnk2</string>
	<key>API_KEY</key>
	<string>AIzaSyDmJERDxdMqtG5wbABdJieIbKHoxTWvkTg</string>
	<key>GCM_SENDER_ID</key>
	<string>973375648827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vtweb</string>
	<key>PROJECT_ID</key>
	<string>visage-track-2cbb2</string>
	<key>STORAGE_BUCKET</key>
	<string>visage-track-2cbb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973375648827:ios:4a6985c6f0a1b95d13d81e</string>
</dict>
</plist>